mixin note(note)
  li.notes__list-item
    time.notes__item-time(datetime=note.date.datetime)=note.date.string
    a.notes__item-text(href='#')=note.text
    button.notes__button.button.button--close-item(type='button')
      span.visually-hidden Закрыть строку списка
