include ../shared/header
include form

include ../shared/layout
  +header()
  main.main-page.main-page--padding
    section.main-page__category.category
      h1.category__title Категории
      .category__add-form
        +form({
          isAddForm: true
        })
      ul.category__list
        each item, index in [{value: 'Жизнь и путешествия'},{value: 'Путешествия'},{value: 'Дизайн и программирование'},{value: 'Другое'},{value: 'Личное'}]
          li.category__list-item
            +form({
              value: item.value,
              index
            })
  include ../shared/footer
