include last-list-item

mixin last(data)
  section.main-page__last.last
    ul.last__list
      if data.length
        each item in data
          +last-list-item(item)
      else
        p.last__empty Здесь пока ничего нет...